/* Global defaults */
/* ========================================================================== */

body {
    font-family: sans-serif;
}


/* Tiles & Playground */
/* ========================================================================== */

.playground {
    margin: 5% 5% 5% 25%;
}

/* Tiles */
/* -------------------------------------------------------------------------- */

.tile {
    display: inline-block;
    background-color: #FFD480; /* brown background */
    border-radius: 10px;
    border: 3px solid black;
    color: black; /* black text */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width:18%;
    height:15%;
    margin: 8px;
    font-weight: bold;
    box-sizing: border-box;
    position: relative;
}

.tile>a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.unclicked.red {
    background-color: #fc9cb1;
}

.unclicked.blue {
    background-color: #44a6fc;
}

.unclicked.red:hover {
    background-color: #fc9cb1;
    box-shadow: 3px 3px 2px grey;
}

.unclicked.blue:hover {
  background-color: #44a6fc;
  box-shadow: 3px 3px 2px grey;
}

.unclicked.bomb {
    background: black;
    color: white;
}

.unclicked.bomb:hover {
    background: black;
    color: white;
}

.unclicked:hover {
    background-color: #FFE6B3;
    box-shadow: 3px 3px 2px grey;
}

.clicked.none {
    background-color: #cccccc;
    color: #cccccc;
    cursor: default;
}

.clicked.red {
    background-color: #dd2800;
    color: #dd2800;
    cursor: default;
}
.clicked:hover.red {
    background-color: #ff4227;
    color: white;
}

.clicked:hover.none {
    color: black;
}

.clicked.blue {
    background-color: #0042af;
    color: #0042af;
    cursor: default;
}
.clicked:hover.blue {
    background-color: #0055c3;
    color: white;
}

.clicked.bomb {
    background-color: #000000;
    color:white;
    cursor: default;
    animation-name: bomb_animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes bomb_animation {
    from {background-color: yellow;}
    to {background-color: red;}
}

.unclicked.explainer {
    cursor: default;
}

.unclicked.guesser {
    cursor: pointer;
}

/* Sidebar */
/* ========================================================================== */

.sidebar {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: .75rem;
    padding-right: .75rem;
}


.badge.red {
    background-color: #dd2800;
    color: white;
}

.badge.blue {
    background-color: #0042af;
    color: white;
}

/* Chat */
/* -------------------------------------------------------------------------- */


#message_holder {
    height: 50%;
    overflow-y: auto;
}

#chat_controls_container {
    height:20%;
}

/* Team info */
/* -------------------------------------------------------------------------- */

.team_info_red {
    display: inline-block;
    width: 50%;
    float: left;
}    
.team_info_blue{
    display: inline-block;
    width: 50%;
}    

#team_info_container {
    height:20%;
    overflow-x: auto;
}

#team_overview_div {
    padding-top: 20px;
}