/* Global defaults */

body {
    font-family: sans-serif;
}

.container {
    /*max-width: 800px;*/
}

.tile {
  background-color: #FFD480; /* brown background */
  border: 4px solid white; /*  whiteborder */
  border-radius: 10px;
  color: black; /* black text */
  padding: 15px 32px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width:20%;
  height:20%
}

.unclicked.red {
  border: 4px solid #dd2800; /* red  border */
}

.unclicked.bomb {
  border: 4px solid white;
  background: black;
  color: white;
}

.unclicked.bomb:hover {
  border: 4px solid white;
  background: black;
  color: white;
}

.unclicked.blue {
  border: 4px solid #000ad3; /* blue  border */
}


.unclicked:hover {
  background-color: #FFE6B3;
}

.clicked.red {
    background-color: #dd2800;
    cursor: default;
}
.clicked:hover.red {
    background-color: #ff4227;
}

.clicked.blue {
    background-color: #0042af;
    cursor: default;
}
.clicked:hover.blue {
    background-color: #00b9ff;
}

.clicked.bomb {
    background-color: #000000;
    cursor: default;
}
.clicked:hover.bomb {
    background-color: #757575;
}

.unclicked.explainer {
    cursor: default;
}

.unclicked.guesser {
    cursor: pointer;
}

.sidebar {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.container.playground {
    margin-left: 300px;
    /*padding-top: 20px;*/
}


/*
Kombinations:

Guesser:
clickable
correctly clicked by blue/red
incorrectly clicked by blue/red (but not bomb)
incorrectly clicked bomb

Explainer also has:
clickable blue/red
clickable bomb
*/
