<html lang="en">

  <head>
    <title>Mathegruppen Codenames</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript">
      // Global variable storing our connection to the backend
      var socket = io.connect('http://' + document.domain + ':' + location.port);

      // Global variable storing our user name after succesful login
      var user = "invalid";

      socket.on(
        'connect',
        function() {
          socket.emit( 'user_connect', {data: 'User Connected'} );

          /* Setting up events for the forms etc. of the page */

          // Set up hooks for the chat: Everytime submit is clicked, we pass on the
          // message to the backend
          $( 'form' ).on(
            'submit',
            function( e ) {
              let messageField = $( '#chat_message_input' );
              e.preventDefault();
              let user_input = messageField.val();
              socket.emit(
                'chat_message_received',
                {
                    message : user_input,
                    user : user,
                }
              );
              messageField.val( '' ).focus();
            }
          );


          // Set up hooks for the login menu: Every time submit is clicked, we pass
          // the login details to the backend.
          // The backend will then decide whether our login was successful and
          // trigger the user_login event (below)
          $( '#login' ).on(
            'submit',
            function( e ) {
              e.preventDefault();
              let user_input = $( "#user_input" ).val();
              let team = $('input[name=radio_team]:checked', '#login').val();
              let role = $('input[name=radio_role]:checked', '#login').val();
              console.debug(team);
              socket.emit(
                'login',
                {
                    user : user_input,
                    team: team,
                    role: role
                }
              );
            }
          );
        }
      );

      // Functions for reaction to clicks
      // ================================


      // If a tile is clicked, till the backend
      function tileClicked( index) {
          console.debug(index);
          socket.emit( "tile_clicked", {user: user, index: index} )
      }

      // Handling whatever is returned from the python backend
      // =====================================================

      // Gets triggered by the backend and hands us the full html content of the
      // chat history box
      socket.on(
        'update_chat_messages',
        function( msg ) {
          if( typeof msg.message !== 'undefined' ) {
            $( 'div.message_holder' ).html(msg.message);
          }
        }
      );

      // The backend asks us to make a request to get handed the html to update
      // the playground
      socket.on(
          "ask_all_sessions_to_request_update_playground",
          function (msg) {
              console.debug("Requeseting playground update");
              socket.emit ("request_update_playground", {user: user})
          }
      );

      // The backend hands us HTML for the playground so we can update it.
      socket.on(
        'update_playground',
        function( data ) {
          console.debug("Updating playground");
          if( typeof data["playground_html"] !== 'undefined' ) {
            $( '#playground_content' ).html(data["playground_html"]);
          }
        }
      );

      // Gets triggered by the backend after we requested a user login. The backend
      // now tells us whether the login was successful. If it was, we disable the
      // login menu and request an update of the playground from the backend.
      // Else we show a warning message.
      socket.on(
        'user_login',
        function ( msg ){
          console.log("User logged in");
          console.log(msg.user);
          console.log(msg.success);
          if ( msg.success === true ){
            console.log("success");
            $( '#login_message' ).html(
                `Welcome ${msg.user}`
            );
            user = msg.user;
            // Trigger the backend to send us an update_playground event
            // together with the html
            socket.emit("request_update_playground", {user: user});
            set_disabled_login(true);
            set_disabled_controls("block");
          }
          else {
            console.log("failure");
            $( '#login_message' ).html(
                `Login failed. Try again.`
            )
          }

        }
      );

      // Helper functions
      // ================

      // Disable or enable the login controls after a user has succesfully logged in
      // or out.
      function set_disabled_login( state ){
        $("#radio_team_red").prop("disabled", state);
        $("#radio_team_blue").prop("disabled", state);
        $("#radio_role_explainer").prop("disabled", state);
        $("#radio_role_guesser").prop("disabled", state);
        $("#user_input").prop("disabled", state);
        $("#user_login").prop("disabled", state);
      }

      function set_disabled_controls( state ){
          $("#game_control_div").css("display", state);
          $("#chat_input_div").css("display", state);
      }

    </script>
  </head>

  <body>

  <div class="playground" id="playground_content">
    <!-- gets filled by the JS -->
  </div>


  <div class="sidebar">
    <div class="container login">
      <h2 class="label label-default">Login</h2>
      <form action="" method="POST" id="login">
        <div class="form-group">
          <label for="user_input"></label>
          <input id="user_input" type="text" class="form-control" placeholder="Your name" value="test"/>

          <fieldset>
            <input type="radio" id="radio_team_red" name="radio_team" value="red" checked="checked">
            <label for="radio_team_red"> Team red</label>
            <input type="radio" id="radio_team_blue" name="radio_team" value="blue">
            <label for="radio_team_blue"> Team blue</label>
          </fieldset>

          <fieldset>
            <input type="radio" id="radio_role_explainer" name="radio_role" value="explainer">
            <label for="radio_role_explainer"> Explainer</label>
            <input type="radio" id="radio_role_guesser" name="radio_role" value="guesser" checked="checked">
            <label for="radio_role_guesser"> Guesser</label>
          </fieldset>

          <button id="login_button" type="submit" class="btn btn-success">Login</button>
        </div>
      </form>
      <div id="login_message">Please login</div>
    </div>

    <div id="game_control_div" class="container game_control"  style="display: none;">
      <h2 class="label label-default">Game control</h2>
      <button id="restart_button" class="btn btn-danger">Restart game</button>
    </div>


    <div class="container chat">
      <h2 class="label label-default">Chat</h2>
      <form action="" method="POST">
        <div class="form-group" id="chat_input_div" style="display: none;">
          <label for="chat_message_input"></label>
          <input id="chat_message_input" type="text" class="form-control" placeholder="Your message"/>
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
      <div class="message_holder overflow-auto">
        No message yet..
      </div>


    </div>
  </div>

  </body>
</html>
