<html>
<title>Mathegruppen Codenames</title>
<head>
{#<script src="{{ url_for('static', filename='js/fos.min.js') }}"></script>#}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script type="text/javascript">
  var socket = io.connect('http://' + document.domain + ':' + location.port);
  var user = "invalid";

  socket.on(
    'connect',
    function() {
      socket.emit( 'user_connect', {data: 'User Connected'} );

      /* Setting up events for the forms etc. of the page */
      $( 'form' ).on(
        'submit',
        function( e ) {
          e.preventDefault();
          let user_input = $( 'input.message' ).val();
          socket.emit(
            'chat_message_received',
            {
                message : user_input,
                user : user,
            }
          );
          $( 'input.message' ).val( '' ).focus();
        }
      );

      $( '#login' ).on(
          'submit',
          function( e ) {
              e.preventDefault();
              let user_input = $( 'input.user' ).val();
              let team = $('input[name=radio_team]:checked', '#login').val();
              let role = $('input[name=radio_role]:checked', '#login').val();
              console.debug(team);
              socket.emit(
                  'login',
                  {
                      user : user_input,
                      team: team,
                      role: role
                  }
                );
          }
      );

    }
  );

  /* Functions for reaction to clicks */

  function tileClicked( index) {
      console.debug(index);
      socket.emit( "tile_clicked", {user: user, index: index} )
  }

  /* Handling whatever is returned from the python backend */

  socket.on(
    'update_chat_messages',
    function( msg ) {
      if( typeof msg.message !== 'undefined' ) {
        $( 'div.message_holder' ).html(msg.message);
      }
    }
  );

  socket.on(
      "ask_all_sessions_to_request_update_playground",
      function (msg) {
          console.debug("Requeseting playground update");
          socket.emit ("request_update_playground", {user: user})
      }
  );

  socket.on(
    'update_playground',
    function( data ) {
      console.debug("Updating playground");
      if( typeof data.playground_html !== 'undefined' ) {
        $( 'div.playground' ).html(data.playground_html);
      }
    }
  );

  socket.on(
      'user_login',
      function ( msg ){
          console.log("User logged in");
          console.log(msg.user);
          console.log(msg.success);
          if ( msg.success === true ){
            console.log("success");
            // $( '#login' ).remove();
            $( '#login_message' ).html(
                `Welcome ${msg.user}`
            );
            user = msg.user;
            socket.emit("request_update_playground", {user: user});
          }
          else {
              console.log("failure");
              $( '#login_message' ).html(
                  `Login failed. Try again.`
              )
          }

      }
  );


</script>
</head>

<body>

<div class="container login">
  <form action="" method="POST" id="login">
    <div class="form-group">
      <input type="text" class="user" class="form-control" placeholder="Your name"/>

      <fieldset>
        <input type="radio" id="radio_team_red" name="radio_team" value="red">
        <label for="radio_team_red"> Team red</label>
        <input type="radio" id="radio_team_blue" name="radio_team" value="blue">
        <label for="radio_team_blue"> Team blue</label>
      </fieldset>

      <fieldset>
        <input type="radio" id="radio_role_explainer" name="radio_role" value="explainer">
        <label for="radio_role_explainer"> Explainer</label>
        <input type="radio" id="radio_role_guesser" name="radio_role" value="guesser">
        <label for="radio_role_guesser"> Guesser</label>
      </fieldset>

      <button type="submit" class="btn btn-success">Login</button>
    </div>
  </form>
  <div id="login_message">Please login</div>
</div>


<div class="container chat">
  <div class="message_holder">
    No message yet..
  </div>

  <form action="" method="POST">
    <div class="form-group">
      <input type="text" class="message" class="form-control" placeholder="Your message"/>
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>

<div class="playground">
</div>

</body>
</html>
